web:
  image: mayeco/drupal-8
  ports:
   - "80:80"
  volumes:
   - ./html:/var/www/html
   - ./vendor:/var/www/vendor
   - ./bin:/var/www/bin
  links:
    - database:mysql

phpmyadmin:
  image: nazarpc/phpmyadmin
  ports:
   - "8080:80"
  links:
    - database:mysql

database:
  image: percona:5.6
  volumes:
   - ./mysql_data:/var/lib/mysql
  environment:
     - MYSQL_ROOT_PASSWORD=__PASSWORD_HERE__
     - MYSQL_DATABASE=drupal8
     - MYSQL_USER=drupal8
     - MYSQL_PASSWORD=__PASSWORD_HERE__
